<div class="container">
  <h3>Contact Us</h3>
  <p>Please email us at <a href="mailto:contact@emicalcu.in">contact@emicalcu.in</a> if you have any queries about the site, including ads, or anything else.</p>
  <h3>Feedback &amp; Suggestions</h3>
  <p>We welcome feedbacks and will love to implement your suggestion at emicalcu.in . for feedback please write us at <a href="mailto:feedback@emicalcu.in">feedback@emicalcu.in</a></p>
  <!--  section.-->

  <h4>Read also : <a routerLink="/about-emicalcu"> About Emicalc.in</a></h4>

  <!--Empty sections for pushing footer down -->
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
</div>
