.col {
  background: #ff7979;
  margin: 1px;
}

.section.container {
  display: flex;
  align-content: space-between;
  flex-direction: row;
}

.columnX {
  width: 100%;
}

@media (max-width: 800px) {
  .section.container {
    flex-direction: column;
  }
}
