<section>
  <div class="section container">
    <!--Ui Component-->
    <div class="columnX">
      <div class="input-field">
        <label class="active" for="#textBoxInput1">Enter Interest Rate</label>
        <input placeholder="Interest"
               class="validate" type="number" id="#textBoxInput1" [ngModel]="interestRate"
               (ngModelChange)="onNgModelChange($event, inputTypeUI.INTEREST)">
      </div>

      <div class="input-field">
        <label class="active" for="#textBoxInput2">Enter number of Year</label>
        <input type="number" id="#textBoxInput2" [ngModel]="tenureInYear"
               (ngModelChange)="onNgModelChange($event, inputTypeUI.TENURE)">
      </div>

      <div class="input-field">
        <label class="active" for="#textBoxInput3">Enter Principal Amount</label>
        <input type="number" id="#textBoxInput3" [ngModel]="principalAmount"
               (ngModelChange)="onNgModelChange($event, inputTypeUI.PRINCIPAL)">
      </div>

      <h4>Emi Per Month = <strong>{{emiResponseResult.emiPerMonth}}</strong></h4>
      <h5>Total Interest = <strong>{{emiResponseResult.totalInterestOverTime}}</strong></h5>
      <h5>Total Money to Pay = <strong>{{emiResponseResult.totalMoneyToPay}}</strong></h5>


    </div>
    <!--Chart Result-->
    <div class="columnX">
      <div id="chart" class="chart-container">
        <apx-chart #chartApexF
                   [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [labels]="chartOptions.labels"
                   [responsive]="chartOptions.responsive"
                   [colors]="chartOptions.chartColor"
        ></apx-chart>
      </div>

    </div>

  </div>

  <div class="container">
    <h3 class="center">Calculator Settings</h3>

    <div class="row">
      <div class="input-field col s12">
        <select [ngModel]="selectedValue" (ngModelChange)="onSettingsNgModelChange($event)">
          <!--also empty-->
          <!--todo : load it from cache or settings--><!-- <option value="" disabled selected>Choose your Currency</option>-->
          <!--          <option value="inr">INR &#8377;</option>-->
          <option *ngFor="let c of countries" [ngValue]="c.id" [defaultSelected]="c.id === 1" >{{c.name}}</option>
        </select>
        <label>Display Currency</label>
      </div>
      <div class="input-field col s12">
        <select>
          <!-- <option value="" disabled selected>Choose your Currency</option>-->
          <option value="two-digit">Show two digits decimal</option>
          <option value="no-rounding">No Rounding</option>
          <option value="ceil">Ceil Rounding Integer</option>
          <option value="floor">Floor Rounding Integer</option>
          <option value="one-digit">Show one digits decimal</option>
          <option value="three-digit">Show three digits decimal</option>
        </select>
        <label>Display Currency</label>
      </div>
    </div>
  </div>
</section>
