<label for="#textBoxInput1">Enter number of Year</label>
<input type="number" id="#textBoxInput1" (change)="onInputValueChanged($event)">

<br>
<label for="#textBoxInput2">Enter number of Year</label>
<input type="number" id="#textBoxInput2" [ngModel]="tenureInYear"
       (ngModelChange)="onNgModelChange($event, 'l')">

<br>

<label for="#textBoxInput3">Enter Principal Amount</label>
<input type="number" id="#textBoxInput3" [ngModel]="principalAmount"
       (ngModelChange)="onNgModelChange($event, 'm')">

<hr>

<h3>DataForResult : <br></h3>
<h2>{{dataTextResponseResult}}</h2>

<hr>

<h1>{{tenureInYear}}</h1>
